.MuiDialog-paper {
  background-color: var(--md-sys-color-surface-blur) !important;
  color: var(--md-sys-color-on-surface) !important;
  border-radius: 16px !important;
  padding: 1.5rem !important;
  backdrop-filter: blur(20px) !important;
}

.MuiList-root {
  background-color: var(--md-sys-color-surface) !important;
  color: var(--md-sys-color-on-surface) !important;
}

.MuiDialog-paper .MuiOutlinedInput-root, .MuiFormLabel-root {
  color: var(--md-sys-color-on-surface) !important;
}

.MuiTextField-root {
  color: var(--md-sys-color-on-surface) !important;
}

.ok-button {
  background-color: var(--md-sys-color-primary) !important;
  color: var(--md-sys-color-on-primary) !important;
  border-radius: 16px !important;
  height: 40px !important;
}